<div class="container content-register">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h2>{{title}}</h2>
      {{#if success}}
        <h6>Please check your inbox for a recovery email!</h6>
      {{else}}
        <h6>Enter your email address to have a password recovery email sent to you.</h6>
      {{/if}}
      <form method="post">
        <label for="email">
          <input autofocus type="email" id="email" name="email" required placeholder="email@sample.com" value="{{body.email}}" />
          <label class="error">{{error}}</label>
        </label>

        <button type="submit" class="btn btn-primary">Send Recovery Link</button>
      </form>
    </div>
  </div>
</div>
